html {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #000000;
}

main {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 20px;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-content: center;
}

#rock {
  background-color: #383127;
  color: white;
}

#rock:hover {
  background-color: #291d0e;
}


#paper {
  background-color: #dcdcdc;
}

#paper:hover {
  background-color: #ffffff;
  color: black;
}

#scissors {
  background-color: #656a77;
  color: white;
}

#scissors:hover {
  background-color: #272b33;
}




button {
  width: 100%;
  max-height: 120px;
  max-width: 240px;
  min-width: 160px;
  min-height: 80px;
  margin: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

button:hover {
  transition: 0.7s;
  background-color: rgb(50, 25, 64);
  color: white;
  cursor: pointer;
}

#intro {
  text-align: center;
  color: white;
}

#gameScreen {
  display: none;
  width: 100%;
}

#results {
  color: white;
  text-align: center;
}